<%= form_tag url_for(controller: 'events', action: 'search', target: 'activities'), remote: true, 
	class: 'activity search row h2' do %>
  <%= hidden_field_tag :items, @events.pluck(:id).join(',') %>
  <%= text_field_tag :search, params[:search], 
  placeholder: "render partial: 'events/activities', collection: @events, as: :event" %>
  <%= submit_tag '>>' %>
<% end %>

<div class="activity-feed feed col" data-search-target="1" data-scroll-content="1">

		<% @events.each do |event| %>
				<%= render partial: 'events/event', 
					locals: 
					{ 
						event: event,
						svg_thn: 'svg/test/arrow_3.svg',
						link: false,
						classes: "drop-event",
						data: drop_snd(event.id).merge({id: event.id})
					} 
				%>
				<%= content_tag :div,
					class: "activity-list col h4", 
					data: drop_rcv(event.id) do %>

				  	<%= render_activities(
					  	event.activities.order(:role, :created_at).page(1).per(10), 
					  	layout: :activity 	)%>

				  	<% if (event.activities.count > 10) %>
				  		<%= link_to "#{event.activities.count - 10} more...", 
				  			remote: true, 
				  			controller: "static_pages", 
				  			action: "activity_list", 
				  			id: event.id %>
					<% end %>
				<% end %>
		<% end %>
</div>

<%= render partial: "shared/scroll", locals: {items: @events} %>