<div class="activity-feed events feed col">
		<% @events.each do |event| %>
  		  <div class="item row"
        data-drop="toggle"
        data-id="<%= event.id %>"
        data-state="false">

          <div class="image-temp"> </div>
          <div class="col">
            <span class="h5"> <%= event.starts_at %> </span>
            <div class="br"> </div>
            <%= link_to event.name, "#", 
            class: "h2" %> 
            <span class="h4">
            <!-- event.fresh_for(current_user).count  -->
            </span>
            <div class="br"> </div>
          </div>

  			</div>
  			<div class="activity-list col"
        data-drop="target"
        data-id="<%= event.id %>"
        data-state="false">
				  <%= render_activities(event.activities, layout: :activity) %>
        </div>
		<% end %>
</div>
