<%= content_tag :div, class: ["item"], 
	data: { 
    fresh: "#{ fresh?(comment) }", 
    role: comment.role, 
    owner: can?(:set_public, comment)
  } do %>
  <%= link_to comment.title, [comment], class: "subject h4" %>
  <div class="content h5">
    <%= comment.comment %>
  </div>
  <div class="options h4">
    <% if can?(:set_public, comment) %>
      <%= link_to 'Public!', set_public_comment_path(comment), class: "h4" %>
    <% end %>
  	<% if can? :destroy, comment %>
	  	<%= link_to 'Destroy', [comment], method: :delete, class: "h4" %>
  	<% end %>
  </div>
<% end %>