<% if can?(:read, comment) %>
  <%= content_tag :div, class: ["item"], 
  	data: {
      id: comment.id,
      fresh: "#{ fresh?(comment) }",
      role: comment.role,
      public: comment.public,
      owner: can?(:set_public, comment)
    } do %>
    <%= link_to comment.title, [comment], class: "subject h4" %>
    <div class="content h5">
      <%= comment.comment %>
    </div>
    <div class="options h4">
      <% if can?(:set_public, comment) %>
        <% if comment.public == false %>
          <%= link_to 'publish', set_public_comment_path(comment), method: :patch, remote: true, class: "h4" %>
        <% elsif comment.public == true %>
          <%= link_to 'hide', set_default_comment_path(comment), method: :patch, remote: true, class: "h4" %>
        <% end %>
        <%= link_to 'reply', comment_path(comment),  class: "h4" %>
      <% end %>
    	<% if can? :destroy, comment %>
  	  	<%= link_to 'destroy', [comment, :refresh => comment.role ], method: :delete, remote: true, class: "h4" %>
    	<% end %>
    </div>
  <% end %>
<% end %>