<% comment.user_id = current_user.id %>
<% if can? :create, comment %>
  <%= form_for [comment], remote: true do |f| %>
    <div class="field h4">
      <%= f.text_field :title %>
      <br/>
    </div>
    <div class="field h4">
      <%= f.text_area :comment %>
      <br/>
    </div>
    <div class="actions h3">
      <%= f.submit %>
    </div>
    <%= f.hidden_field :role %>
    <%= f.hidden_field :root_id %>
    <%= f.hidden_field :root_type %>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>

    <span id="IMPORTANT-NOTE" style="display: none"> 
      # here for cancancan's load_and_authorize
      # remove for safety, and elsewhere in the app
      # set this param with current_user in the controller
      # THEN authorize via CanCanCan
    </span>
    <%= f.hidden_field :user_id %>

  <% end %>
<% end %>
