<div id="bar-b" class="nav-bar row h2">
	<%= link_to "back", @comment.commentable %>
	<% if can?(:set_public, @comment) %>
		|
		<% if @comment.role == "default" %>
		  <%= link_to 'publish', set_public_comment_path(@comment), method: :patch %>
		<% elsif @comment.role == "public" %>
		  <%= link_to 'hide', set_default_comment_path(@comment), method: :patch %>
		<% end %>
	<% end %>
	<% if can?(:destroy, @comment) %>
		| <%= link_to 'destroy', @comment, method: :delete %>
	<% end %>
</div>

<div class="subject h2">
	<%= @comment.title %>
</div>
<div class="content h4">
	<%= @comment.comment %>
</div>
<div class="vmn"> </div>


<% if @comment.can_add_comment? %>
	<%= content_tag :div,
		class: ["col"] do
	%>
		<%= content_tag :div,
		class: ["comment-list", "col"], 
		data: {refresh: "reply_comments"} do
		-%>
			<%= render @comment.comments %>
		<% end -%>

		<%= render partial: 'comments/form', locals:
			{ 
				comment: @comment.comments.build
			}
		%>
	<% end %>
<% end %>