<% if @user == current_user %>
	<div id="bar-b" class="nav-bar row h2">
		<%= link_to "edit", edit_user_registration_path, class: "item" %>	
	</div>
<% end %>

<section>
	<span class="field h1"> <%= @user.name %> </span>
</section>

<div class="vmn"> </div>

<section class="col" style="height: 30vh">
	<%= render 'events/feed' %>
	<div class="br"></div>
	<%= content_tag :div, class: "h5 row", data: {pagi_link: "events"} do %>
		<%= paginate @events, remote: true %>
	<% end %>
</section>