<div class="user-show">
	<span class="show-field"> <%= @user.name %> </span>
	<span class="show-field"> <%= @user.email %> </span>
	<span class="options"> 
		<%= link_to "edit", edit_user_registration_path %> 
	</span>
	<br>
	<div id="follow_form">
  		<% if current_user.following?(@user) %>
  			<%= render 'unfollow' %>
  		<% else %>
    		<%= render 'follow' %>
  		<% end %>
  	</div>
	<strong> events: </strong>
	<br>
	<%= render 'events/feed' %>
</div>