<%= 
content_tag :div, 
class: "item row",
data: {drop: "toggle", id: event.id, state: false } do 
%>
	<div class="image-temp svg-link">
		<%= inline_svg 'svg/test/arrow_3.svg'
		%>
	</div>
	<div class="col">
		<span class="h5"> <%= date_style(event.starts_at) %> </span>
		<div class="br"> </div>
		<div class="h2 title"> <%= event.name %> </div>
		<span class="h5 user"> <%= event.user.name %> </span>
		<div class="br"> </div>
	</div>
<% end %>

<%= yield if block_given? %>

<%= 
content_tag :div, 
class: "activity-list col h4", 
data: {drop: "target", id: event.id, state: false} do
%>
  <%= render_activities(event.activities, layout: :activity) %>
<% end %>