<%= content_tag :div, 
  id: "#{event.id}",
  class: ["item", "row"], #+ get_local(locals: local_assigns, key: "classes", alt: []), #this could be data
  data: { past: "#{event.starts_at <= DateTime.now}" }.merge( local_assigns[:data] || {} ) do
%>
    <div class="image-temp svg-link"> 
      <%= inline_svg get_local(locals: local_assigns, key: "svg_thn", alt: "" ) %> 
    </div>
    <div class= "col">

        <span class="h5"> <%= date_style(event.starts_at) %> </span>
        <div class="br"> </div>
        <div class="h2 title"> 
          <%  link = get_local(locals: local_assigns, key: "link", alt: event) %>
          <%= link_to_unless  (link == false),  event.name,    link %> 
        </div>
        <span class="h5 username user"> <%= event.user.name %> </span>
        <span class="h4 tags"> 

            <% event.tags.first(10).each do |tag| %>
              <%= "#{tag.name}" %>
            <% end %>
        
        </span>
        <div class="br"> </div>
      
    </div>
<% end %>
