<%= form_tag url_for(controller: 'events', action: 'search'), remote: true, class: 'events search row h2' do %>
	<%= hidden_field_tag :items, @events.pluck(:id).join(',') %>
	<%= text_field_tag :search, params[:search], placeholder: 'search' %>
	<%= submit_tag '>>' %>
<% end %>
<div class="events feed col" data-search-target="1" data-scroll-content="1">
	<%= render @events %>
</div>

<% unless (@events.current_page == @events.total_pages) %>
  <div data-scroll-link="1">
    <%= link_to('View More', url_for(page: @events.current_page + 1)) %>
  </div>  
<% end %>