<div class="event-feed">
  <% @events.each do |event| %>
    <% user = User.find(event.user_id) %>
    <div class="event-info">
      <span class="info-field"><%= event.name %></span>
      <span class="info-field"><%= link_to user.name, user %></span>
      <span class="options">
        <%= link_to 'Show', event %>
        <% if current_user.id == event.user_id %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>

