<div class="show head col">
	<div class="img-main"></div>

	<div class="field date">
	  <span class="h3"> 
	  	<%= @event.starts_at.to_formatted_s(:short) %> 
	  </span>
	  <span class="h2"> 
	  	- 
	  </span> 
	  <span class="h3"> 
	  	<%= @event.ends_at.to_formatted_s(:short) %> 
	  </span>
	</div>

	<div class="field title h1"> 
		<%= @event.name %> 
	</div>

	<div class="field user h5"> 
		<% if @event.user_id == 585858 %>
			<%= link_to "DaringDanza", "#" %>
		<% else %>
	  		<%= link_to @event.user.name, @event.user %> 
	  	<% end %>
	</div>

	<div class="field tags h3"> 
        <%= @event.tag_list %>
    </div>
</div>

<div class="description h3">
   <%= @event.description %>
</div>

<div class="vmn"> </div>


<%= 
content_tag :div, 
class: "activity-list col h4", 
data: {id: event.id} do
%>
  <%= render_activities(event.activities, layout: :activity) %>
<% end %>

