<div class="event feed col">
  <% @events.each do |event| %>
    <% user = User.find(event.user_id) %>
    <div class="item row">
      <span class="field h1"><%= link_to event.name, event %></span>
      <span class="field h2"><%= link_to user.name, user %></span>
      <div class="field tags h4"> 
        <%= event.tag_list %>
      </div>
      <span class="options row h3">
        <% if current_user.id == event.user_id %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <%= render partial: "socializations/follow_button", locals: {socializable: event} %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>