<div class="event-show">
<% user = User.find(@event.user_id) %>
	<div class="show-field">
	  <strong>Name:</strong>
	  <%= @event.name %>
	</div>

	<div class="show-field">
	  <strong>Description:</strong>
	  <%= @event.description %>
	</div>

	<div class="show-field">
	  <strong>User:</strong>
	  <%= link_to user.name, user %>
	</div>

	<div class="options">
		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Back', user %>
	</div>
</div>
