<div id="bar-b" class="nav-bar row h2">
	<%= link_to "Calendar",
    url_for(:controller => 'schedule', :action => 'calendar', :date => @event.starts_at),
    class: "item" %> |
	<% if (can? :edit, @event) && (can? :destroy, @event) %>
		<%= link_to 'Edit', edit_event_path(@event), class: "item" %> |
		<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "item" %> 
	<% else %>
		<div class="item">
			<%= render partial: "socializations/follow_button", locals: {socializable: @event} %>
		</div>
	<% end %>
</div>
	
<section>
	<%= image_tag "landscape.png", class: "img-main"%>

	<div class="field">
	  <span class="h1"> <%= @event.name %> </span>
	  <span class="h4"> 
	  	<%= link_to @event.user.name, @event.user %> 
	  </span>
	</div>

	<div class="field">
	  <span class="h3"> <%= @event.starts_at.to_formatted_s(:short) %> </span>
	  <span class="h2"> - </span> 
	  <span class="h3"> <%= @event.ends_at.to_formatted_s(:short) %> </span>
	</div>

	<div class="field">
	  <span class="h3"> <%= @event.description %> </span>
	</div>

	<br>
	
	<div class="tags"> 
        <%= @event.tag_list %>
    </div>
</section>

<div class="vmn"> </div>

<section>
	<div class="h2"> Updates </div>
	<div class="comment-list col" 
		data-refresh="comments">
		<%= render @event.comments %>
	</div>
	<%= render partial: 'comments/form', 
	locals: { comment: @event.comments.build } 
	%>
</section>

<div class="vmn"> </div>

<section>
	<div class="h2"> Questions </div>
	<div class="comment-list col" 
		data-refresh="questions">
		<%= render @event.questions %>
	</div>

	<%= render partial: 'questions/form', locals: 
	{ question: @event.questions.build } %>
</section>
>>>>>>> working2
