
<% user = User.find(@event.user_id) %>
<section>
	<div class="show-field">
	  <strong>Name:</strong>
	  <%= @event.name %>
	</div>

	<div class="show-field">
	  <strong>Description:</strong>
	  <%= @event.description %>
	</div>

	<div class="show-field">
	  <strong>From:</strong> <%= @event.starts_at %> <strong>To:</strong> <%= @event.ends_at %>
	</div>

	<div class="tags"> 
        <% @event.tags.each do |tag| %>
          <%= link_to tag.name, tag, class: "tag-name" %>
        <% end %>
    </div>

	<div class="show-field">
	  <strong>User:</strong>
	  <%= link_to user.name, user %>
	</div>
</section>
<section>

	<div class="options h1">
		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Back', user %>
	</div>
</section>
