
<% user = User.find(@event.user_id) %>
<section>
	<div class="field">
	  <span class="h2"> Name: </span>
	  <span class="h3"> <%= @event.name %> </span>
	</div>

	<div class="field">
	  <span class="h2"> Description: </span>
	  <span class="h3"> <%= @event.description %> </span>
	</div>

	<div class="field">
	  <span class="h2">From:</span> 
	  <span class="h3"> <%= @event.starts_at %> </span>
	  <span class="h2">To:</span> 
	  <span class="h3"> <%= @event.ends_at %> </span>
	</div>

	<div class="tags"> 
        <% @event.tags.each do |tag| %>
          <%= link_to tag.name, tag, class: "tag-name" %>
        <% end %>
    </div>

	<div class="field">
	  <span class="h2">User:</span>
	  <span class="h3"> <%= link_to user.name, user %> </span>
	</div>
</section>

<section>
	<div class="options h2">
		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Back', user %>
	</div>
</section>
