<div class="event-show">
<% user = User.find(@event.user_id) %>
	<div class="show-field">
	  <strong>Name:</strong>
	  <%= @event.name %>
	</div>

	<div class="show-field">
	  <strong>Description:</strong>
	  <%= @event.description %>
	</div>

	<div class="show-field">
	  <strong>From:</strong> <%= @event.starts_at %> <strong>To:</strong> <%= @event.ends_at %>
	</div>

	<div class="tags-field"> 
        <% @event.tags.each do |tag| %>
          <%= link_to tag.name, tag, class: "tag-name" %>
        <% end %>
    </div>

	<div class="show-field">
	  <strong>User:</strong>
	  <%= link_to user.name, user %>
	</div>

	<div class="options">
		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Back', user %>
	</div>
</div>
