<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 
  	(controller.controller_name if javascript_exists?(controller.controller_name)),
  	("#{controller.controller_name}-#{controller.action_name}" if javascript_exists?("#{controller.controller_name}-#{controller.action_name}")),
  	'data-turbolinks-track' => true
  %>
  <%= csrf_meta_tags %>
</head>

<body class="know"
	data-controller=
	<%= "#{controller.controller_name}" %>
	data-action=
	<%= "#{controller.action_name}" %>
	data-url= 
	<%= "#{request.fullpath}" %>
> 

<div id="bar-t" class="nav-bar row">
<% if user_signed_in? %>
	<div class="br"> </div>
	<a 	href="<%= new_event_path %>"
		class="item svg-link" >
		<%= inline_svg 'svg/icons/plus.svg', 
			class: "svg-plus" 
		%>
	</a>
	<a 	href="<%= root_path %>"
		class="item svg-link" >
		<%= inline_svg 'svg/icons/home.svg',
			class: "svg-home" 
		%>
	</a>
	<a 	href="<%= schedule_path %>"
		class="item svg-link" >
		<%= inline_svg 'svg/icons/calendar.svg',
			class: "svg-calendar"
		%>
	</a>
	<a 	href="<%= activities_path %>"
		class="item svg-link" >
		<%= inline_svg 'svg/icons/alert.svg',
			class: "svg-alert"
		%>
	</a>
	<a 	href="<%= user_path(current_user.id) %>"
		class="item svg-link" >
		<%= inline_svg 'svg/icons/user.svg',
			class: "svg-user"
		%>
	</a>
	<%= content_tag :a, 
	href: destroy_user_session_path, 
	data: { method: :delete },  
	class: "item svg-link", 
	rel: "nofollow" do %>
		<%= inline_svg 'svg/icons/logout.svg',
			class: "svg-logout"
		%>
	<% end %>
<% else %>
<% end %>
</div>




<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="know-page">
	<div class="vmn"> </div>
	<%= yield %>
</div>

</body>



<footer> <%= content_for :footer %> </footer>
</html>
