<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 
  	(controller.controller_name if javascript_exists?(controller.controller_name)),
  	("#{controller.controller_name}-#{controller.action_name}" if javascript_exists?("#{controller.controller_name}-#{controller.action_name}")),
  	'data-turbolinks-track' => true 
  %>
  <%= csrf_meta_tags %>
</head>

<body class="know <%= "#{controller.controller_name}-#{controller.action_name}" %>">

<div class="top-nav row"> 
<% if user_signed_in? %>
	<div class="top-nav-item svg-link">
		<%= link_to '', new_event_path %>
		<%= inline_svg 'svg/icons/plus.svg' %>
	</div>
	<div class="top-nav-item svg-link">
		<%= link_to '', root_path %>
		<%= inline_svg 'svg/icons/home.svg' %>
	</div>
	<div class="top-nav-item svg-link">
		<%= link_to '', schedule_path %>
		<%= inline_svg 'svg/icons/calendar.svg' %>
	</div>
	<div class="top-nav-item svg-link">
		<%= link_to '', current_user %>
		<%= inline_svg 'svg/icons/user.svg' %>
	</div>
	<div class="top-nav-item"> 
		<%= link_to "logout", destroy_user_session_path, method: :delete, 
		class: 'h2' %>
	</div>
<% else %>
<% end %>
</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<div class="page">
<%= yield %>
</div>

</body>

</html>
