<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top-nav"> 
<% if user_signed_in? %>
	<div class="top-nav-item"> 
		<%= link_to current_user.name, current_user %>
	</div>
	<div class="top-nav-item"> 
		<%= link_to "logout", destroy_user_session_path, method: :delete %>
	</div>
<% else %>
<% end %>
</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



<%= yield %>

</body>
</html>
